.home-container{
display:flex;
align-items:center;
justify-content:space-between;
padding:50px;
}

.home-left{
flex:1;
}

.home-logo{
width:600px;
border-radius: 20px;
box-shadow: 4px 4px 15px rgba(65, 20, 67, 0.9);
}

.home-right{
flex:1;
padding-left:40px;
}

.home-right h1{
font-size:600px;
margin-bottom:20px;
font-weight:700;
text-shadow: 3px 3px #e6acd9, 2px 2px #af62c0;
}

.home-right p{
font-size:22px;
color:#fffeff;
}